.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    height: var(--w-60);    
    width: var(--w-60);
    padding: var(--w-20);
    margin: 0 var(--w-10);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--grey-800);
}

.page:first-child {
    width: var(--w-90);

    border: 1px solid var(--grey-200);
    border-radius: 4px;
    cursor: pointer;
}

.page:last-child {
    width: var(--w-80);

    border: 1px solid var(--grey-200);
    border-radius: 4px;
    cursor: pointer;
}

.page.is-selected {
    background-color: var(--grey-100);
}