* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    height: 100vh;
    width: 100vw;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;

    border: 16px solid gold;
    border-radius: 10px;
    background-image: radial-gradient(circle, orange, yellow);
}

.card-header {
    display: flex;
    flex-direction: column;
}

.card-header .rarity {
    font-size: 0.8rem;
}

.card-header .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-header .stats {
    display: flex;
}

.card-header .hp {
    margin-right: 8px;

    font-size: 1.4rem;
    color: red;
}

.card-header .name {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.8rem;
    font-weight: 700;
}

.card-image {
    border: 5px solid gold;
}

.card-image .image {
    width: 100%;
}

.card-details {
    margin-top: 8px;
    padding: 0 16px;
    align-self: center;

    font-size: 0.8rem;
    background-image: radial-gradient(circle, white, gold);
}

.card-abilities {
    display: flex;
    flex-direction: column;
}

.card-abilities .ability-container {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-abilities .ability-name {
    font-weight: 700;
}

.card-abilities .damage {
    font-size: 2rem;
}